.footer {
  text-align: center;
  padding: 20px;
  background: #282c34; 
  color: #61dafb; 
}

.social-icons {
  margin-top: 10px;
}

.social-icons a {
  color: #61dafb; 
  margin: 0 10px;
  text-decoration: none;
  transition: color 0.3s; 
}

.social-icons a:hover {
  color: #007bff; 
}


.footer-links {
  margin-top: 10px;
}

.footer-links a {
  color: #61dafb; 
  margin: 0 15px;
  text-decoration: none;
  transition: color 0.3s; 
}

.footer-links a:hover {
  color: #007bff;
}