
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}

body {
  background-color:  #f0f4f8;
  color: #333;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}
